<div class="company-details-container">
    <div class="company-card">
    <div class="card-header">
        <h1 style="color:white">企業詳細</h1>
    </div>
    <div class="card-body">
        <p><strong>企業名:</strong> <%= @company.name %></p>
        <p><strong>業種:</strong> <%= @company.industry %></p>
        <p><strong>ステータス:</strong> <%= @company.status %></p>
        <p><strong>URL:</strong> <a href="<%= @company.url %>"><%= @company.url %></a></p>
        <p><strong>ID:</strong> <%= @company.id_copy %></p>
        <p><strong>パスワード:</strong> <%= @company.password %></p>
        <p><strong>スケジュール:</strong> <%= @company.schedule %></p>
        <p><strong>メモ:</strong> <%= @company.notes %></p>
    </div>
    <div class="card-footer">
        <div>
        <%= link_to '編集', edit_company_path(@company), class: 'btn btn-warning' %>
        <%= button_to '削除', company_path(@company), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
        <%= link_to '一覧に戻る', companies_path, class: 'btn btn-secondary' %>
    </div>
    </div>
</div>